<div class="card flex justify-content-center flex-column p-3">
  <h1>Warehouse Bin</h1>

  <p>Warehouse Bin data from Subur Database</p>

  <div class="d-flex flex-row align-items-center mb-2">
    <p-button label="Load Data" (onClick)="loadData()" severity="success" class="me-2"></p-button>
    <p-toast></p-toast>
    <p-confirmDialog header="Confirmation" icon="pi pi-exclamation-triangle"></p-confirmDialog>
    <p-button label="Submit" (onClick)="confirmDialog()" [disabled]="buttonDisabled"></p-button>
  </div>

  <div class="d-flex flex-row align-items-center mb-2">
    <p-inputSwitch
      [(ngModel)]="useCheckbox"
      (onChange)="checkBoxChange()"
      ariaLabelledBy="chckbox"
      class="d-flex"></p-inputSwitch>
    <label class="ms-2" id="chckbox">Use Checkbox?</label>
  </div>

  <p-table
    [loading]="loading"
    [value]="dataSource"
    [(selection)]="selectedData"
    (onHeaderCheckboxToggle)="selectAllChange()"
    (selectAllChange)="selectAllChange()"
    (selectionChange)="selectChange()"
    dataKey="code"
    [paginator]="true"
    [rows]="10"
    [showCurrentPageReport]="true"
    [tableStyle]="{ 'min-width': '50rem' }"
    currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
    [rowsPerPageOptions]="[10, 20, 30, 50, 80, 100]">
    <ng-template pTemplate="header">
      <tr>
        <th style="width: 4rem" *ngIf="useCheckbox">
          <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
        </th>
        <th>L1</th>
        <th>L2</th>
        <th>L3</th>
        <th>Default</th>
        <th>Warehouse</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-warehouseBin>
      <tr>
        <td *ngIf="useCheckbox">
          <p-tableCheckbox [value]="warehouseBin"></p-tableCheckbox>
        </td>
        <td>{{ warehouseBin.l1 }}</td>
        <td>{{ warehouseBin.l2 }}</td>
        <td>{{ warehouseBin.l3 }}</td>
        <td>{{ warehouseBin.isDefault }}</td>
        <td>{{ warehouseBin.warehouseModel }}</td>
      </tr>
    </ng-template>
  </p-table>
</div>
