<div class="card flex justify-content-center flex-column p-3">
  <h1>Bank</h1>

  <p>Bank data from Subur Database</p>

  <div class="d-flex flex-row align-items-center mb-2">
    <p-button label="Load Data" (onClick)="loadData()" severity="success" class="me-2"></p-button>
    <p-toast></p-toast>
    <p-confirmDialog header="Confirmation" icon="pi pi-exclamation-triangle"></p-confirmDialog>
    <p-button label="Submit" (onClick)="confirmDialog()" [disabled]="buttonDisabled"></p-button>
  </div>

  <div class="d-flex flex-row align-items-center mb-2">
    <p-inputSwitch
      [(ngModel)]="useCheckbox"
      (onChange)="checkBoxChange()"
      ariaLabelledBy="chckbox"
      class="d-flex"></p-inputSwitch>
    <label class="ms-2" id="chckbox">Use Checkbox?</label>
  </div>

  <p-table
    [loading]="loading"
    [value]="dataSource"
    [(selection)]="selectedData"
    (onHeaderCheckboxToggle)="selectAllChange()"
    (selectAllChange)="selectAllChange()"
    (selectionChange)="selectChange()"
    dataKey="accountNo"
    [paginator]="true"
    [rows]="10"
    [showCurrentPageReport]="true"
    [tableStyle]="{ 'min-width': '50rem' }"
    currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
    [rowsPerPageOptions]="[10, 20, 30, 50, 80, 100]">
    <ng-template pTemplate="header">
      <tr>
        <th style="width: 4rem" *ngIf="useCheckbox">
          <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
        </th>
        <th>Account Name</th>
        <th>Account Code</th>
        <th>Bank Name</th>
        <th>Journal Account Code</th>
        <th>Journal Account Name</th>
        <th style="width: 200px">Image</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-bank>
      <tr>
        <td *ngIf="useCheckbox">
          <p-tableCheckbox [value]="bank"></p-tableCheckbox>
        </td>
        <td>{{ bank.accountName }}</td>
        <td>{{ bank.accountNo }}</td>
        <td>{{ bank.bankName }}</td>
        <td>{{ bank.journalAccountCode }}</td>
        <td>{{ bank.journalAccountName }}</td>
        <td><img src="{{ bank.imageUrl }}" style="max-width: 100%; max-height: 70px" /></td>
      </tr>
    </ng-template>
  </p-table>
</div>
