<div class="login-container">
  <div #pnl class="card d-flex flex-column justify-content-center p-4 shadow-3">
    <h1 style="text-align: center" class="mb-3">Login</h1>
    <div class="d-flex flex-column">
      <div class="d-flex flex-column mb-3">
        <label for="username" class="font-bold block mb-2"> Username </label>
        <input
          class="p-inputtext-sm w-full"
          pInputText
          id="username"
          aria-describedby="username-help"
          [(ngModel)]="username"
          (keyup.enter)="login()"
          [autofocus]="true" />
      </div>
      <div class="d-flex flex-column mb-3">
        <label for="password" class="font-bold block mb-2">Password</label>
        <input
          class="p-inputtext-sm"
          pPassword
          type="password"
          id="password"
          aria-describedby="password-help"
          [(ngModel)]="password"
          (keyup.enter)="login()"
          [feedback]="false" />
      </div>

      <p-toast></p-toast>
      <button type="button" class="button" pButton pRipple (click)="login()">Submit</button>
    </div>
  </div>

  <div class="signing-in-container" *ngIf="loading">
    <div class="signing-in border-round p-4 shadow-2">
      Please wait while Signing In.........<br />
    </div>
  </div>
</div>
