<div class="login-container">
  <div class="card flex justify-content-center p-2">
    <h1 style="text-align: center" class="mb-3">Login</h1>
    <div class="d-flex flex-column">
      <div class="d-flex flex-column mb-3">
        <label for="username">Username</label>
        <input
          class="p-inputtext-sm"
          pInputText
          id="username"
          aria-describedby="username-help"
          [(ngModel)]="username" />
      </div>
      <div class="d-flex flex-column mb-3">
        <label for="passwrod">Password</label>
        <input
          class="p-inputtext-sm"
          pPassword
          type="password"
          id="password"
          aria-describedby="password-help"
          [(ngModel)]="password"
          [feedback]="false" />
      </div>

      <p-toast></p-toast>
      <button
        pButton
        pRipple
        class="p-button-success button"
        (click)="login(this.username, this.password)">
        Submit
      </button>
    </div>
  </div>
</div>
