<div class="login-container">
  <div class="card d-flex flex-column justify-content-center p-4">
    <h1 style="text-align: center" class="mb-3">Login</h1>
    <div class="d-flex flex-column">
      <div class="d-flex flex-column mb-3">
        <label for="username" class="font-bold block mb-2"> Username </label>
        <input
          class="p-inputtext-sm w-full"
          pInputText
          id="username"
          aria-describedby="username-help"
          [(ngModel)]="username"
          [autofocus]="true" />
      </div>
      <div class="d-flex flex-column mb-3">
        <label for="passwrod" class="font-bold block mb-2">Password</label>
        <input
          class="p-inputtext-sm"
          pPassword
          type="password"
          id="password"
          aria-describedby="password-help"
          [(ngModel)]="password"
          [feedback]="false" />
      </div>

      <p-toast></p-toast>
      <button pButton pRipple class="button" (click)="login(this.username, this.password)">
        Submit
      </button>
    </div>
  </div>
</div>
