<div class="card flex justify-content-center flex-column p-3">
  <h1>Warehouse</h1>

  <p>Warehouse data from Subur Database</p>

  <div class="d-flex flex-row align-items-center mb-2">
    <p-button label="Load Data" (onClick)="loadData()" severity="success" class="me-2"></p-button>
    <p-toast></p-toast>
    <p-confirmDialog header="Confirmation" icon="pi pi-exclamation-triangle"></p-confirmDialog>
    <p-button label="Submit" (onClick)="confirmDialog()" [disabled]="buttonDisabled"></p-button>
  </div>

  <div class="d-flex flex-row align-items-center mb-2">
    <p-inputSwitch
      [(ngModel)]="useCheckbox"
      (onChange)="checkBoxChange()"
      ariaLabelledBy="chckbox"
      class="d-flex"></p-inputSwitch>
    <label class="ms-2" id="chckbox">Use Checkbox?</label>
  </div>

  <p-table
    #dt1
    [loading]="loading"
    [value]="dataSource"
    [(selection)]="selectedData"
    (onHeaderCheckboxToggle)="selectAllChange()"
    (selectAllChange)="selectAllChange()"
    (selectionChange)="selectChange()"
    dataKey="code"
    [paginator]="true"
    [rows]="10"
    [showCurrentPageReport]="true"
    [tableStyle]="{ 'min-width': '50rem' }"
    currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
    [rowsPerPageOptions]="[10, 20, 30, 50, 80, 100]"
    [globalFilterFields]="['code', 'description', 'details.uoMPackage']">
    <ng-template pTemplate="caption">
      <div class="flex justify-content-end">
        <span class="material-symbols-outlined flex align-items-center search-icon-container px-2">
          search
        </span>
        <input
          class="search-input"
          pInputText
          type="text"
          [(ngModel)]="searchText"
          (input)="dt1.filterGlobal(searchText, 'contains')"
          placeholder="Search keyword" />
      </div>
    </ng-template>
    <ng-template pTemplate="header">
      <tr>
        <th style="width: 4rem" *ngIf="useCheckbox">
          <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
        </th>
        <th>Branch</th>
        <th>Default Bin</th>
        <th>Vendor Location</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-warehouse>
      <tr>
        <td *ngIf="useCheckbox">
          <p-tableCheckbox [value]="warehouse"></p-tableCheckbox>
        </td>
        <td>{{ warehouse.branch?.description }}</td>
        <td>{{ warehouse.defaultBin?.isDefault }}</td>
        <td>{{ warehouse.isVendorLocation }}</td>
      </tr>
    </ng-template>
  </p-table>
</div>
