<div class="container-fluid">
  <h1>Warehouse</h1>

  <p>Warehouse Data from Subur Database</p>

  <div class="d-flex flex-row align-items-center">
    <mat-form-field>
      <mat-label>Source Branch</mat-label>
      <mat-select [(value)]="selectedBranch">
        <mat-option>None</mat-option>
        <mat-option value="item" *ngFor="let item of branchList">{{ item.value }}</mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field class="ms-3">
      <mat-label>Destination Branch</mat-label>
      <mat-select [(value)]="branchDestination">
        <mat-option>None</mat-option>
        <mat-option value="item" *ngFor="let item of branchList">{{ item.value }}</mat-option>
      </mat-select>
    </mat-form-field>
    <button
      mat-raised-button
      color="primary"
      style="margin-bottom: 22px"
      class="ms-3"
      [disabled]="selectedBranch == null || branchDestination == null">
      Submit
    </button>
  </div>

  <mat-slide-toggle class="mb-4" [(ngModel)]="useCheckbox" (change)="onSlideChange()"
    >Use Checkbox ?</mat-slide-toggle
  >

  <div class="mat-elevation-z3">
    <table mat-table [dataSource]="dataSource">
      <ng-container matColumnDef="select">
        <th mat-header-cell *matHeaderCellDef style="width: 50px">
          <mat-checkbox
            (change)="$event ? toggleAllRows() : null"
            [checked]="selectedData.hasValue() && isAllSelected()"
            [indeterminate]="selectedData.hasValue() && !isAllSelected()">
          </mat-checkbox>
        </th>
        <td mat-cell *matCellDef="let row">
          <mat-checkbox
            (click)="$event.stopPropagation()"
            (change)="toggleRow($event, row)"
            [checked]="selectedData.isSelected(row)">
          </mat-checkbox>
        </td>
      </ng-container>

      <ng-container matColumnDef="branch">
        <th mat-header-cell *matHeaderCellDef>Branch</th>
        <td mat-cell *matCellDef="let element">{{ element.branch }}</td>
      </ng-container>

      <ng-container matColumnDef="defaultBin">
        <th mat-header-cell *matHeaderCellDef>Default Bin</th>
        <td mat-cell *matCellDef="let element">{{ element.defaultBin }}</td>
      </ng-container>

      <ng-container matColumnDef="isVendorLocation">
        <th mat-header-cell *matHeaderCellDef>Vendor Location</th>
        <td mat-cell *matCellDef="let element">{{ element.isVendorLocation }}</td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
    </table>

    <mat-paginator
      [pageSizeOptions]="[5, 10, 20]"
      showFirstLastButtons
      aria-label="Select page of periodic elements">
    </mat-paginator>
  </div>
</div>
