@import "../../../styles.scss";

.drawer-content {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.main-menu {
  max-height: 60vh;
}

.drawer-icon-container {
  z-index: 1000;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px;
  border: none;
  background: transparent;
  width: 100%;
  cursor: default;
  overflow: hidden;
  color: white;
  position: relative;
  transition: 0.3s;
}

.drawer-icon-container-show {
  display: flex;
  justify-content: start;
  align-items: center;
  padding: 5px;
  border: none;
  background: transparent;
  width: 100%;
  cursor: default;
  overflow: hidden;
  color: white;
  padding-left: 20px;
}

.drawer-icon-container-show:hover {
  background: linear-gradient(to right, transparent calc(100% - 10px), rgb(255, 209, 209) 0%);
  background-color: $secondary-color;
}

.drawer-toggle {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px;
  border: none;
  background: transparent;
  width: 100%;
  color: white;
  cursor: default;
}

.drawer-icon-container:hover {
  background: linear-gradient(to right, transparent calc(100% - 10px), rgb(255, 209, 209) 0%);
  background-color: $secondary-color;
  width: max-content;
  white-space: nowrap;
  overflow-x: visible;
  transform: translateX(15px);
}
.drawer-icon-container:hover .menu-title {
  display: inline;
  overflow-y: visible;
}

.menu-title {
  padding-left: 10px;
  display: none;
  padding-right: 10px;
}

.menu-title-show {
  display: inline;
}

.active {
  background: linear-gradient(to right, transparent calc(100% - 10px), rgb(255, 209, 209) 0%);
}
