<div class="drawer-content">
  <button
    (click)="drawerVisibility()"
    class="drawer-toggle"
    [ngClass]="{ 'text-start': menuVisiblity == false }">
    <span *ngIf="menuVisiblity == false" class="material-symbols-outlined" style="font-size: 25px">
      keyboard_double_arrow_right
    </span>
    <span *ngIf="menuVisiblity == true" class="material-symbols-outlined" style="font-size: 25px">
      keyboard_double_arrow_left
    </span>
  </button>

  <div class="main-menu">
    <button
      [routerLink]="['/']"
      routerLinkActive="router-link-active"
      [ngClass]="{
        'drawer-icon-container': menuVisiblity == false,
        'drawer-icon-container-show': menuVisiblity == true
      }">
      <span class="material-symbols-outlined" style="font-size: 25px"> home </span>
      <span class="menu-title" [ngClass]="{ 'text-start menu-title-show': menuVisiblity == true }">
        Home
      </span>
    </button>
    <button
      [routerLink]="['/Category']"
      routerLinkActive="router-link-active"
      [ngClass]="{
        'drawer-icon-container': menuVisiblity == false,
        'drawer-icon-container-show': menuVisiblity == true
      }">
      <span class="material-symbols-outlined" style="font-size: 25px"> grid_view </span>
      <span class="menu-title" [ngClass]="{ 'text-start menu-title-show': menuVisiblity == true }">
        Category
      </span>
    </button>
  </div>

  <button
    (click)="authService.logout()"
    [ngClass]="{
      'drawer-icon-container': menuVisiblity == false,
      'drawer-icon-container-show': menuVisiblity == true
    }">
    <span class="material-symbols-outlined" style="font-size: 25px"> logout </span>
    <span class="menu-title" [ngClass]="{ 'text-start menu-title-show': menuVisiblity == true }"
      >Logout</span
    >
  </button>
</div>
