<div class="card flex justify-content-center flex-column p-3">
  <h1>Menu</h1>

  <p>Menu data from Subur Database</p>

  <div class="d-flex flex-row align-items-center mb-2">
    <p-button label="Load Data" (onClick)="loadData()" severity="success" class="me-2"></p-button>
    <p-dropdown
      (onChange)="branchChange()"
      class="me-2"
      [options]="branchData"
      [(ngModel)]="selectedBranch"
      optionLabel="description"
      [showClear]="true"
      placeholder="Destination Branch"></p-dropdown>
    <p-toast></p-toast>
    <p-confirmDialog header="Confirmation" icon="pi pi-exclamation-triangle"></p-confirmDialog>
    <p-button label="Submit" (onClick)="confirmDialog()" [disabled]="buttonDisabled"></p-button>
  </div>

  <div class="d-flex flex-row align-items-center mb-2">
    <p-inputSwitch
      [(ngModel)]="useCheckbox"
      (onChange)="checkBoxChange()"
      ariaLabelledBy="chckbox"
      class="d-flex"></p-inputSwitch>
    <label class="ms-2" id="chckbox">Use Checkbox?</label>
  </div>

  <p-table
    [loading]="loading"
    [value]="dataSource"
    [(selection)]="selectedData"
    (onHeaderCheckboxToggle)="selectAllChange()"
    (selectAllChange)="selectAllChange()"
    (selectionChange)="selectChange()"
    dataKey="code"
    [paginator]="true"
    [rows]="10"
    [showCurrentPageReport]="true"
    [tableStyle]="{ 'min-width': '50rem' }"
    currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
    [rowsPerPageOptions]="[10, 20, 30, 50, 80, 100]">
    <ng-template pTemplate="header">
      <tr>
        <th style="width: 4rem" *ngIf="useCheckbox">
          <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
        </th>
        <th>Code</th>
        <th>Description</th>
        <th>Menu Order</th>
        <th>Active</th>
        <th>Form Name</th>
        <th>Form Caption</th>
        <th>Branch</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-menu>
      <tr>
        <td *ngIf="useCheckbox">
          <p-tableCheckbox [value]="menu"></p-tableCheckbox>
        </td>
        <td>{{ menu.code }}</td>
        <td>{{ menu.description }}</td>
        <td>{{ menu.menuOrder }}</td>
        <td>{{ menu.isActive }}</td>
        <td>{{ menu.formName }}</td>
        <td>{{ menu.formCaption }}</td>
        <td>{{ menu.branch?.description }}</td>
      </tr>
    </ng-template>
  </p-table>
</div>
