<div class="card flex justify-content-center flex-column p-3">
  <h1>Category</h1>

  <div class="menu-list">
    <div class="flex justify-content-center">
      <div class="flex flex-wrap">
        <div class="justify-content-center my-2" *ngFor="let item of menus">
          <app-card-menu
            class="flex justify-content-center"
            [icon]="item.icon"
            [title]="item.title"
            [desc]="item.description"
            [redirectUri]="item.redirectUri" />
        </div>
      </div>
    </div>
  </div>
</div>
