@import "../../../../styles.scss";

.container-fluid {
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  max-height: 95vh;
  overflow-y: auto;
  overflow-x: hidden;
}

h1 {
  font-weight: bold;
  padding-bottom: 10px;
  margin-bottom: 15px;
  border-bottom: 2px solid #bbb;
}

table tbody {
  display: block;
  // max-height: 205px;
  overflow-y: scroll;
  overflow-x: hidden;
}

table thead,
table tbody tr {
  display: table;
  width: 100%;
  table-layout: fixed;
}

table thead {
  width: calc(100% - $scroll-bar-width);
}

@media only screen and (max-width: 768px) {
  .branch-container {
    flex-direction: column !important;
  }
  .branch {
    padding-top: 10px;
    margin: 0;
  }

  .btn {
    padding: 10px;
    margin: 0 !important;
    margin-top: 10px !important;
    width: 100%;
  }
}
