/* You can add global styles to this file, and also import other style files */

$primary-color: crimson;
$secondary-color: rgb(255, 141, 141);
$background-color: rgb(239 239 239);
$scroll-bar-width: 8px;

body {
  margin: 0;
  background-color: $background-color;
  font-family: "Quicksand", sans-serif;
}

.container-fluid {
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  max-height: 95vh;
  overflow-y: auto;
  overflow-x: hidden;
}

h1 {
  font-family: "Quicksand", sans-serif;
}

::-webkit-scrollbar {
  width: $scroll-bar-width; /* Width of the scrollbar */
}

/* Track */
::-webkit-scrollbar-track {
  background: transparent; /* Color of the track */
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888888; /* Color of the scrollbar handle */
  border-radius: 4px; /* Rounded corners */
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555555; /* Color of the scrollbar handle on hover */
}

.container-fluid {
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  max-height: 95vh;
  overflow-y: auto;
  overflow-x: hidden;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
